/*A style-sheet to format bio.html and resume.html of Elizabeth Lanzilla*/

body{
	background-image: url("citylights1.png");
	background-repeat: no-repeat;
	position:relative;
}

.whole_text{
	background-color: #a9a9a9;
	position: absolute;
	color: white;
	font-size: 25px;
	font-family: Copperplate;
	padding-left:3%;
	padding-right:3%;
	margin-right:12%;
	margin-left:12%;
}

h1 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 50%;
	margin-right: 50%; 
	font-size: 75px;
	font-style: oblique;
	font-family: Copperplate;
	color: white;
}