
/* A stylesheet to format the index (homepage) of Elizabeth Lanzilla's website*/


h1 {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 50px;
	font-style: oblique;
	font-family: Copperplate;
	color: #40e0d0;
}

IMG.img-circle {
	border-radius: 50%;
	height: auto;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	max-height:400px;
}
