
/* A stylesheet to format the index (homepage) of Elizabeth Lanzilla's website*/


body{
	background-image: url("citylights1.png");
	background-repeat: no-repeat;
}
h1 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 75px;
	font-style: oblique;
	font-family: Copperplate;
	color: white;
}

IMG.img-circle {
	border-radius: 50%;
	height: auto;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	max-height:400px;
}

.button {
	padding: 20px 25px;
	background: black;
	color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: solid 1px white;
}

#move_resume{
	top: -200px;
	left: 50px;
}
}